<div class="card">
  <div class="card-media">
    <img
      class="card-image"
      src="https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/kronos/common/social-share/social-share-image.jpg"
      alt=""
    />
  </div>

  <div class="card-title">
    Card
  </div>
  <div class="card-footer">
    <div class="platforms">
      <i class="fab fa-windows platform-icon"></i>
      <i class="fab fa-apple platform-icon"></i>
    </div>
    <div class="price-container">
      <div class="discount">
        -25%
      </div>
      <div class="prices">
        <div class="old-price">$24.99</div>
        <div class="new-price">$24.99</div>
      </div>
      <button class="add-to-cart-button">
        <i class="fas fa-cart-plus"></i>
      </button>
    </div>
  </div>
</div>
