<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleCaptions"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-triple">
        <img
          class="carousel-image"
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="prev"
          src="./assets/carousel1.jpg"
          class="d-block w-100"
          alt="..."
        />
        <img
          class="carousel-image-middle"
          src="./assets/carousel2.jpg"
          class="d-block w-100"
          alt="..."
        />
        <img
          class="carousel-image"
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="next"
          src="./assets/carousel3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="middle-info">
        <div class="container">
          <h1>Info</h1>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="prev"
  >
    <i aria-hidden="true" class="fas fa-chevron-circle-left"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="next"
  >
    <span>
      <i aria-hidden="true" class="fas fa-chevron-circle-right"></i>
    </span>
    <span class="sr-only">Next</span>
  </a>
</div>
