body{
    background-color:black;
    width: auto;
    margin:0em 5em;
    font-family: 'Fredoka One', cursive;
}

#result{
    height:calc(50%);
    background-color:#f7f7f7;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-end;
    padding:30px;
    font-weight: bold;
    font-size:40pt;
    cursor:pointer;
}
table{
    table-layout: fixed ;
    width: 100% ;
    color:#fff;
    padding-top:0px;   
    height:100%
}
td{
    height:100px;
    background-color: orange;
    font-weight: bold;
    cursor:pointer;
    width:25%;
    font-size:5em
}
td:hover{
    background-color:orangered;
}
.center{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center; 
    width:100%;
}

#history{
    height:100px;
    background-color:#f7f7f7;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding:30px;
    font-weight: bold;
    font-size:20pt;
    color:lightgrey;
    overflow-y: scroll;
    scroll-behavior: smooth;
    

}
#history div{
    margin-bottom:15px;
}

h1{
    text-align: center;
    color:white;
}