#logo {
  height: 40px;
}
#brand {
  cursor: pointer;
}
.relaxed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.genre {
  font-size: 9pt;
}
.more-button {
  width: 80px;
}

.root {
  padding-top: 50px;
}
